

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Roboto Condensed", sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@783&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif; */

*{padding:0px;
    margin:0px}
   header{
       display: flex;
       justify-content: center;
       height: 62px;
       position: sticky;
       box-shadow: 0 0 4px 0px;
       top: 0px;
       background-color: white;
   }

   nav{
       width: 73vw;
       display: flex;
   }

   .navbar{
       text-align: center;
       list-style: none;
       display: flex;
       padding: 10px;
   }

.menu ul  .iconee i {
    margin-left: -151px;
    font-size: 21px;
    width: 35px;
    position: relative;
}
 
   .navbar  li {
       margin-left: 41px;
       width: 82px;
       margin-right: 13px;
   }
   

   .menu{
     margin-left: 23vw;
     margin-top: 12px;
     font-family: "Roboto Condensed", sans-serif;
     font-weight: 400;
     word-spacing: 8px;
   }


   .navbar .bigmenu{
       width: 190px;
   }

   .logoimg img{
    height: 71px;
    width: 130px;
   }

   .navbar i{font-size: 11px;margin-left: 5px;
}

.second{
    width: 73vw;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.second h1 {
    font-size: 71px;
    padding-top: 79px;
    font-weight: 800;
    margin-top: 8px;
}

.second p {
    font-size: 26px;
    padding-top: 24px;
    font-weight: 500;
}


.download{background-color: #00b6d1;
    width: 284px;
    margin: auto;
    height: 26px;
    padding: 9px;
    padding-top: 19px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 62px;}

.download:hover {
    background-color: #47bacb;
}

.part1{
    display:flex;
    justify-content: center;
    height: 325px;
    margin-top: 14px;
}


.part2{
    display:flex;
    justify-content: center;
    height: 99px;
    padding-top: 36px;
    margin-top: 40px;
}


.joya{
    width: 73vw;
    display: flex;
}
.joya img{
    width: 115px;
    height: 67px;
    margin-left: 20px;
}

.joya .uktra{
         font-size: 31px;
         margin-top: 19px;
         margin-left: 21px;
         font-family: "Roboto Condensed", sans-serif;
         letter-spacing: 0px;
         font-weight: 400;
         }
  
 .joya .version{
    font-size: 17px;
    padding-top: 31px;
    margin-left: 10px;
 }        



 .thirdo{
    width: 73vw;
    margin: auto;
    display: grid;
    grid-template-areas:
       "one one one"
       "two two two"
       "three three three"
       "four four four";
    font-family: "Roboto Condensed", sans-serif;
    justify-content: center;
    gap: 36px;
 }

.thirdo h2 {
    font-weight: 500;
}

.thirdo h3 {
    font-weight: 300;
    font-size: 15px;
}


.thirdo .english div {margin-top: 58px;}


.thirdo div {
    height: 241px;
    width: 399px;
    border-radius: 12px;
    text-align: center;
    background-color: #ebeded96;
}

.thirdo div h2 {
    padding-top: 43px;
    height: 34px;
}

.thirdo div h3 {
    height: 22px;
    margin-top: 5px;
}

.thirdo div div {
    background-color: #5cb85c;
    height: 34px;
    padding-top: 16px;
    width: 150px;
    margin: auto;
    margin-top: 32px;
}


.thirdo div a{
    text-decoration: none;
    color: white;
}


.thirdo div div:hover {
    background-color: #6dc26d;
    height: 34px;
    padding-top: 16px;
    width: 150px;
    margin: auto;
    margin-top: 32px;
}

.thirdo .english div:hover {
    background-color: #6dc26d;
    margin-top: 58px;
}


.part4{
    background-color: #1a1a1a;
    height: 673px;
    margin-top: 64px;
}
.fourth{
    width:73vw;
    margin:auto;
    display: flex;
    height: 352px;
    padding-top: 52px;
}

.left-side{
    width: 36.5vw;
    color: white;
}

.left-side div {
    margin-top: 118px;
}
.left-side h2{
    width: 349px;
    margin: auto;
    font-size: 31px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    padding: 18px 0px;
}

.left-side p {
    width: 536px;
    margin: auto;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 21px;
    margin-top: -10px;
    word-spacing: 5px;
}


.right-side{
    width: 36.5vw;
}

.right-side div{
    background-color: white;
    width: 413px;
    margin: auto;
    height: 300px;
    border-radius: 17px;
    margin-top: 27px;
}

.right-side div h2 {
    height: 47px;
    text-align: center;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    width: 282px;
    margin: auto;
    padding-top: 48px;
    color: #00b6d1;
}

.right-side p {
    text-align: center;
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 350;
    margin-top: 20px;
}

.right-side input {
    display: block;
    width: 267px;
    margin: auto;
    height: 53px;
    border-color: #dfdfdfad;
}

.right-side button {
    width: 267px;
    height: 45px;
    margin: auto;
    display: block;
    border-radius: 7px;
    font-size: 22px;
    font-family: 'Roboto Condensed';
    font-weight: 1000;
    background-color: #00b6d1;
    border: none;
    margin-top: 12px;
    color: white;
    box-shadow: 0 12px 18px -6px rgb(77 170 242 / 37%);
}

.right-side button:hover {
    width: 267px;
    height: 45px;
    margin: auto;
    display: block;
    border-radius: 7px;
    font-size: 22px;
    font-family: 'Roboto Condensed';
    font-weight: 1000;
    background-color: #38a3b3;
    border: none;
    margin-top: 12px;
    color: white;
    box-shadow: 0 12px 18px -6px rgb(77 170 242 / 37%);
}

.down-part{
    width: 73vw;
    margin: auto;
    color: white;
    padding-left: 159px;
}

.down-part a {
    text-decoration: none;
    color: #00b6d1;
}

.down-part p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.down-part h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 21px;
}

.tune{
    
    margin-top: 11px;
}

.fune{
    margin-top: 16px;
}

.gune{
    margin-top: 10px;
}


.final-part{
    width: 73vw;
    margin: auto;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.final-part div {
    margin-left: 106px;
}

.last button {
    width: 220px;
    height: 40px;
    display: block;
    border-radius: 7px;
    font-size: 19px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    background-color: #00b6d1;
    border: none;
    margin-top: 12px;
    color: white;
    box-shadow: 0 12px 18px -6px rgb(77 170 242 / 37%);
}

.last button:hover {
    width: 220px;
    height: 40px;
    display: block;
    border-radius: 7px;
    font-size: 19px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    background-color: #339dad;
    border: none;
    margin-top: 12px;
    color: white;
    box-shadow: 0 12px 18px -6px rgb(77 170 242 / 37%);
}

.last button:hover {}

.final-part h2 {
    font-size: 19px;
    margin-bottom: 22px;
    margin-top: 48px;
}

.final-part li {
    list-style: none;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
}


.last input{
    display: block;
    height: 40px;
    width: 216px;
    border-radius: 8px;
    border-color: #dfdfdfad;
    margin-top: 11px;
}

.finish{
    width: 73vw;
    margin: auto;
    display: flex;
    padding-top: 34px;
}

.finish ul li {
    padding: 13px;
    font-size: 26px;
}

.finish ul li:hover {
    font-size: 28px;
}

.finish img {
    height: 60px;
    margin-left: 104px;
}

.finish ul {
    display: flex;
    list-style: none;
    margin-left: 50%;
   
    
}

.finish ul li a{  
    color: black;
  
}

footer span {
    width: 64vw;
    margin: auto;
    display: block;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding-left: 41px;
    padding-top: 27px;
    height: 87px;
    
}